.search__form {
  display: flex;
  margin-bottom: 60px;
  position: relative;
  input {
    padding: 15px 20px;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
    border-radius: 5px;
    background: #000;
    color: #fff;
    &[type="text"] {
      width: 100%;
    }
  }
  button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-55%);
    padding: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: $red;
    cursor: pointer;
  }
}
