form {
  max-width: 420px;
  margin: 0 auto;
  padding: 30px;
  background: rgba($color: #000000, $alpha: 0.3);
  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  border-radius: 10px;
}
input:not(input[type="range"]) {
  width: 100%;
  margin-bottom: 5px;
  padding: 15px 20px;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  background: #000;
  color: #fff;
  font-size: 16px;
  &::placeholder {
    color: rgba($color: #ffffff, $alpha: 0.7);
  }
}
input[type="submit"],
.social__btn {
  display: block;
  padding: 12px 20px;
  text-align: center;
  background: rgba($color: $red, $alpha: 0.9) !important;
  border-radius: 5px;
  cursor: pointer;
}
