.empty__message {
  font-size: 18px;
  margin-bottom: 50px;
}
.video__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 50px;
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
    margin-left: 5px;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
  border-radius: 50%;
}
