extends base.pug
include mixins/video

block content
  form(mothod="GET").search__form
    input(type="text" name="keyword" placeholder="Search By Title")
    button 
      i.fa-solid.fa-magnifying-glass

  div.video__grid
    each video in videos
      +video(video)
    else 
      span.empty__message No Videos Found.