extends base.pug
//-  action="/videos/upload"
block content 
  if errorMessage 
    b=errorMessage
  form(method="POST")
    input(type="text" name="title" placeholder="Title" maxlength=80 required)
    input(type="text" name="description" placeholder="Description" minlength=10 required)
    input(type="text" name="hashtags" placeholder="Hashtags, seperated by comma" required)
    input(type="submit" value="Upload Video")